body{
    background-color: rgb(8, 199, 199);
}
/* bar */
.bar{
    width: 100vw;
    height: 60px;
    background-color: rgb(16, 201, 201);
    position: fixed;
    top: 0;
    box-shadow: 0 0 6px slategrey;
    z-index: 100;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: ivory;
}
/* wrap */
.wrap{
    width: 100%;
    background-color: rgb(8, 199, 199);
    background-image: url(../img/back.png);
    /* background-size: 150%; */
}
.title{
    width: 100%;
    font-size: 30px;
    margin: 0;
    margin-top: 60px;
    text-align: center;
    padding: 50px 0;
    color: ivory;
}
.allPie{
    width: 900px;
    margin: 0 auto;
    display: flex; 
}
.allPie h1{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    color: ivory;
    text-align: center;
}
.allPie h1::after{
    content: '';
    width: 200px;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}
.arrayPie .choice{
    width: 100%;
    margin-bottom: 20px;
}
.arrayPie .data{
    width: 60%;
    height: 30px;
    line-height: 30px;
    margin: 5px auto;
    background-color: rgb(226, 255, 245);
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 2px gray;
    cursor: pointer;
    font-weight: 800;
}
.dataPie{
    text-align: center;
}
.controlPie{

}
.ctrlPie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
}
.ctrlPie input{
    width: 100%;
    margin: 10px 0;
}
.inputPie .input{
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputPie label{
    margin-right: 10px;
}
/* pie,col4,active */
.col4-l{
    width: 30%;
    margin: 0 1%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pie{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(32, 139, 182);
    background-image: linear-gradient(90deg,transparent 50%, tomato 0);
    position: relative;
    margin: 5px;
}
.pieHalf{
    width: 50%;
    height: 100%;
    position: absolute;
    
}
.pieLeft{
    background-color: inherit;
    transform-origin: right;
    border-radius: 100% 0% 0% 100% / 50%;
}
.pieRight{
    background-color: inherit;
    transform-origin: left;
    margin-left: 50%;
    border-radius: 0% 100% 100% 0% / 50%;
}
.pieNum{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.active{
    border: 2px coral solid;
    box-sizing: border-box;
    color: rgb(201, 57, 38);
}

@media (max-width:920px){
    /* bar */
    .bar{
        color: rgb(202, 49, 49);
    }
    /*  */
    .allPie{
        width: 100%;
        flex-wrap: wrap; 
    }
    .allPie h1{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    /*  */
    .col4-l{
        width: 100%;
        margin: 0;
        height: 100%;
        display: block;
    }
    /* .col4-l{
        width: 30%;
        margin: 0 1%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } */
    .pie{
        margin: 5px auto;
    }
    /* .pie{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(32, 139, 182);
        background-image: linear-gradient(90deg,transparent 50%, tomato 0);
        position: relative;
        margin: 5px;
    } */
    .ctrlPie{
        margin: 0 auto;
    }
    /* .ctrlPie{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100px;
    } */
    .inputPie .input{
        margin: 15px 0;
    }

}